PUBLIC_API_BASE_URL=http://localhost:3000
PUBLIC_USE_MENU_FIXTURE=false
PUBLIC_MENU_FIXTURE_SCENARIO=populated
PUBLIC_RESTAURANT_SLUG=restaurante-olimpico
PUBLIC_DISCOVERY_FIXTURE_SCENARIO=multiple
PUBLIC_STAFF_RESTAURANT_ID=b29d8911-8298-4fd2-b5e1-65e8aa4493a7
